* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif;
    box-sizing: border-box;
}

/*Header*/

.header {
    height: 8vh;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 3px 0 10px rgb(230, 227, 227);
}

/*Logo*/

.myntra_logo img {
    height: 50px;
    width: 70px;
}

.logo {
    margin-left: 4%;
    margin-right: 5%;
}

/*Nav Links*/

.nav_bar {
    min-width: 34%;
    display: flex;
    justify-content: space-between;
}

.nav_bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #282c3f;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 700;
    padding: 17px 0;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    /* border: 4px solid black; */
}

.nav_bar a:hover {
    border-bottom: 3px solid #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
}
 
#position {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    pointer-events: none;
}

/*Search Bar*/

.search_bar {
    height: 40px;
    min-width: 400px;
    display: flex;
    align-items: center;
    position: relative;
    right: 30px;
}

.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
     border-radius: 0 4px 4px 0;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #696e79;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

/*Action Bar*/

.action_bar {
    margin-right: 5%;
    display: flex;
    min-width: 200px;
    justify-content: space-around;
   
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_name {
    color: #202c3f;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 700;
}

.action_icon {
    color: #696e79;
}

/*Main*/

/* Side Fixed Tag*/

.side_tag {
    position: fixed;
    right: 1%;
    bottom: 130px;
    width: 36x;
    height: 300px;
    padding: 4px;
    background-color: #535766;
    z-index: 6;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}